<?php
/**
 * Create adv form template
 *
 * @var $this Hunters_FrontendProduct_Block_Product
 */
?>
<?php

$product = $this->getProduct();

?>

<div class="page-title">
    <h1><?php

        if($product->getId() > 0) echo $this->__('Edit Advert');
        else echo $this->__('Add Advert');

        ?></h1>
</div>

<div class = "dashboard">
    <?php echo $this->getMessagesBlock()->getGroupedHtml()
    ?>
</div>

<?php
$required = explode(',', Mage::getStoreConfig('hunters_frontendproduct/product_required_settings/required'));    

?>
<form action="<?php echo $this->getFormActionUrl() ?>" method="post" class="add-seller-product" id="form-validate" enctype="multipart/form-data" onsubmit="return validateForm();">
    <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
    <?php if($product->getId()): ?><input type="hidden" name="id" value="<?php echo $product->getId() ?>" /><?php endif; ?>
    <?php if (Mage::getStoreConfig('hunters_frontendproduct/product_settings/name')) : ?>
        <div>
            <p class="paddT12">					
                <label class="label_area" for="name">Заголовок<em>*</em></label>
                <input type="text" class="input_inner input-text <?php if (in_array("name", $required)) {echo "required-entry";}?>" maxlength="255" title="<?php echo $this->__('Name') ?>" name="product[name]" id="name" value="<?php echo $product->getName()?>">
            </p>
        </div>
    <?php endif; ?>
    <?php if (Mage::getStoreConfig('hunters_frontendproduct/product_settings/description')) : ?>
        <div>
            <p class="paddT12">
                <label class="label_area" for="description">Описание<em>*</em></label>
                <textarea name="product[description]" id="description" class="input_inner_area input-text <?php if (in_array("description", $required)) {echo "required-entry";}?>" title="<?php echo $this->__('Description') ?>"><?php echo $product->getDescription()?></textarea>
            </p>
        </div>
    <?php endif; ?>
    <?php if (Mage::getStoreConfig('hunters_frontendproduct/product_settings/short_description')) : ?>
        <div>
            <p class="paddT12">
                <label class="label_area" for="short_description">Короткое описание<em>*</em></label>
                <textarea name="product[short_description]" id="short_description" class="input_inner_area input-text <?php if (in_array("short_description", $required)) {echo "required-entry";}?>" title="<?php echo $this->__('Short Description') ?>"><?php echo $product->getShortDescription()?></textarea>
            </p>
        </div>
    <?php endif; ?>
    <div>
        <p class="paddT12">
            <label class="label_area" for="price"><?php echo $this->__('Price')?></label>
            <input type="text" class="input_inner input-text" maxlength="255" title="<?php echo $this->__('Price') ?>" name="product[price]" id="price" value="<?php echo $product->getPrice()?>">
        </p>
    </div>
    <?php if (Mage::getStoreConfig('hunters_frontendproduct/product_settings/categories')) : ?>
        <div>
            <p class="paddT12">
                <?php
                $category = Mage::getModel('catalog/category');
                $tree = $category->getTreeModel();
                $tree->load();
                $ids = $tree->getCollection()->getAllIds();
                ?>
                <label class="label_area" for="categories">Категория<em>*</em></label>
                <select name="categories" id="categories" class="input_inner input-text <?php if (in_array("categories", $required)) {echo "required-entry";}?>" style="width:292px;">
                    <?php
                    echo '<option value="">-- Пожалуйста, выберите --</option>';
                    foreach ($ids as $id) {
                        $cat = Mage::getModel('catalog/category');
                        $cat->load($id);
                        if ($cat->getIsActive()) {
                            $dash = '';
                            if ($cat->getLevel() == 3)
                                $dash = "-";
                            if ($cat->getLevel() == 4)
                                $dash = "--";
                            if ($cat->getLevel() == 5)
                                $dash = "---";

                            echo '<option value="' . $cat->getId() . '" ' . $this->categorySelected($cat->getId()) . '>' . $dash . ucwords($cat->getName()) . '</option>';


                        }
                    }
                    ?>                                        
                </select>
            </p>
        </div>
    <?php endif; ?>

    <div>
        <p class="paddT12">
            <label class="label_area" for="ad_type"><?php echo $this->__('Advert Type') ?></label>
            <select name="product[ad_type]" id="ad_type" class="input_inner input-text" style="width:292px;">
                <option></option>

            <?php
            foreach ($this->getProductAdTypeOptions() as $adTypeOption) {
                echo '<option value="' . $adTypeOption['value'] . '" ' . $this->getOptionSelectedText($adTypeOption['value'],$product->getAdType()) . '>'  . ucwords($adTypeOption['label']) . '</option>';
            }
            ?>
        </select>
        </p>
    </div>

    <?php if (Mage::getStoreConfig('hunters_frontendproduct/product_settings/image')) : ?>
        <div>
            <p class="paddT12">
                <label class="label_area" for="image">Загрузить изображение<em>*</em></label>
                <input type="file" class="<?php if (in_array("image", $required)) {echo "required-entry";}?>"  maxlength="255" title="<?php echo $this->__('Image') ?>" value="" name="images[]">
            </p>
        </div>
        <?php if($product->getSmallImage()):?>

            <div>
                <p class="paddT12">
                    <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(300,200); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($product, 'small_image'), null, true) ?>" />                </p>
            </div>

            <?php endif?>
    <?php endif; ?>


    <?php  ?>


    <?php echo $this->helper('russifieds_catalog/productlocator')->getJS()?>

    <div class="ads-locator">
        <h4>Месторасположение<em>*</em></h4>
        <div class="entry-edit">
            <div class="row">
                <div class="col-md-12">
                    <div class="fieldset fieldset-wide">
                        <p>Введите Ваше местоположение:</p>
                        <input class="location input-text" name="product[address]" id="searchTextField" autocomplete="off" placeholder="<?php echo $this->__('Enter a location') ?>" value="<?php echo $product->getAddress()?>" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="map-direction" class="mapdirection" style=" height: 300px; top: 10px;margin-bottom: 25px;"></div>
                </div>

                <div class="col-md-6">
                    <p><label for="name">Широта:</label></p>
                    <input type="text" class="input-text"  name="product[latitude]" id="latitude" value="<?php echo $product->getLatitude(); ?>">
                </div>
                <div class="col-md-6">
                    <p><label for="name">Долгота:</label></p>
                    <input type="text" class="input-text"  name="product[longitude]" id="longitude" value="<?php echo $product->getLongitude(); ?>">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        jQuery(document).ready(function() {
            jQuery('#product_info_tabs_product_locator_tab').click(function() {
                initialize();
            });
        });
        document.observe('dom:loaded', function() {
            var BASE_URL = '<?php echo Mage::getBaseUrl(); ?>';
            $('save_location').observe('click', respondToClick);
            jQuery('.save').click(function() {
                respondToClick();
            });
            function respondToClick(event) {
                var latitude = document.getElementById("latitude").getValue();
                var longitude = document.getElementById("longitude").getValue();
                var pid = '<?php echo $product->getId(); ?>';
                url = BASE_URL + 'productlocator/index/locationsave?pid=' + pid + '&lat=' + latitude + '&lon=' + longitude;
                new Ajax.Request(url, {
                    method: 'get',
                    onSuccess: function(res) {
                    }
                });
            }
        });
        var map;
        var marker;
        function initialize()
        {
            var myCenter = new google.maps.LatLng('<?php echo $product->getLatitude(); ?>', '<?php echo $product->getLongitude(); ?>');
            var mapOptions = {
                center: myCenter,
                zoom: 2,
                mapTypeControl: false,
                draggable: true,
                scaleControl: false,
                scrollwheel: true,
                navigationControl: false,
                streetViewControl: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map-direction"),
                mapOptions);

            placeMarker(myCenter);
            var input = /** @type {HTMLInputElement} */(document.getElementById('searchTextField'));
            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', map);
            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                input.className = '';
                var place = autocomplete.getPlace();
                if (!place.geometry) { // Inform the user that the place was not found and return.
                    input.className = 'notfound';
                    return;
                }
                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    map.fitBounds(place.geometry.viewport);
                } else {
                    map.setCenter(place.geometry.location);
                    map.setZoom(17);  // Why 17? Because it looks good.
                }
                if (!marker) {
                    placeMarker(place.geometry.location);
                }
                marker.setPosition(place.geometry.location);
                marker.setVisible(true);


            });

            map.setTilt(0);
            map.panTo(myCenter);
            google.maps.event.addListener(map, 'click', function(event) {
                computepos(event.latLng);
                placeMarker(event.latLng);
            });
        }
        function placeMarker(location) {
            if (marker) {
                marker.setPosition(location);
            } else {
                marker = new google.maps.Marker({
                    position: location,
                    animation: google.maps.Animation.DROP,
                    draggable: true
                });
            }

            marker.setMap(map);
            google.maps.event.addListener(marker, 'dragend', function(event) {
                computepos(event.latLng);

            });

        }

        function computepos(point)
        {
            geocoder = new google.maps.Geocoder();
            var latA = Math.abs(Math.round(point.lat() * 1000000.));
            var lonA = Math.abs(Math.round(point.lng() * 1000000.));
            if (point.lat() < 0)
            {
                var ls = '-' + Math.floor((latA / 1000000)).toString();
            }
            else
            {
                var ls = Math.floor((latA / 1000000)).toString();
            }
            var lm = Math.floor(((latA / 1000000) - Math.floor(latA / 1000000)) * 60).toString();
            var ld = (Math.floor(((((latA / 1000000) - Math.floor(latA / 1000000)) * 60) - Math.floor(((latA / 1000000) - Math.floor(latA / 1000000)) * 60)) * 100000) * 60 / 100000).toString();
            if (point.lng() < 0)
            {
                var lgs = '-' + Math.floor((lonA / 1000000)).toString();
            }
            else
            {
                var lgs = Math.floor((lonA / 1000000)).toString();
            }
            var lgm = Math.floor(((lonA / 1000000) - Math.floor(lonA / 1000000)) * 60).toString();
            var lgd = (Math.floor(((((lonA / 1000000) - Math.floor(lonA / 1000000)) * 60) - Math.floor(((lonA / 1000000) - Math.floor(lonA / 1000000)) * 60)) * 100000) * 60 / 100000).toString();
            document.getElementById("latitude").value = point.lat().toFixed(6);
            document.getElementById("longitude").value = point.lng().toFixed(6);
            if (geocoder) {
                var addr;
                geocoder.geocode({'latLng': point}, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        addr = results[0].formatted_address;
                        jQuery('#searchTextField').val(addr);
                    }
                });
            }

        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>


    <div style="margin: 20px 0;">
        <input name="terms" type="checkbox" id="terms" value="agree" class="terms input-text required-entry" style="width:20px"/>
        <span class="paddL7 fleft" style="font-size:11px;"><strong>Я прочитал правила и принимаю условия.</strong></span> </p>
    </div>
    <span class="buy_now paddL15 fleft">
        <input type="submit" title="<?php echo $this->__('Save') ?>" class="" value="<?php echo $this->__('Save') ?>" />
    </span>
    <input type="hidden" name="customer_group" id="customer_group" value="<?php echo Mage::getSingleton('customer/session')->getCustomerGroupId(); ?>" />
    <input type="hidden" name="customer_email" id="customer_email" value="<?php echo Mage::getSingleton('customer/session')->getCustomer()->getEmail(); ?>" />
</form>

<script type="text/javascript">
    //< ![CDATA[
    var customForm = new VarienForm('form-validate');
    //]]>
</script>
<?php if($product->getId() > 0) : ?>

<div class="row">
    <div class="col-md-8">
        <div class="paymant-ads">
            <form action="<?php echo $this->getPaymentFormActionUrl() ?>" method="post" class="add-seller-product" id="form-validate"  onsubmit="return validateForm();">
                <h1><?php echo $this->__('Payment Ad') ?> / <?php echo $this->__('Current Amount') . ': ' . (float)$this->getCurrentAmount() ?></h1>
                <input type="hidden" name="form_key" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                <input type="hidden" name="id" value="<?php echo $product->getId() ?>" />
                <div>
                    <p class="paddT12">
                        <label class="label_area" for="name"><?php echo $this->__('Amount') ?><em>*</em></label>
                        <input type="text" class="input_inner input-text  required-entry" maxlength="255" title="<?php echo $this->__('Amount') ?>" name="amount" id="amount" value="">
                    </p>
                </div>
                    <span class="buy_now paddL15 fleft">
                    <input type="submit" title="<?php echo $this->__('Place Order') ?>" class="" value="<?php echo $this->__('Place Order') ?>" />
                </span>
            </form>
        </div>
    </div>
</div>
<?php endif ?>
