<?php
$products = $this->getProducts();
?><div class="page-title">
    <h1><?php echo $this->__('My Adverts') ?></h1>
</div>
<?php if($products->getSize()): ?>
    <table class="data-table">
        <thead>
        <tr>
            <th><?php echo $this->__('Title') ?></th>
            <th><?php echo $this->__('Status') ?></th>
            <th><?php echo $this->__('Current Amount') ?></th>
            <th><?php echo $this->__('Action') ?></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($products as $item): ?>
            <tr>
                <td>
                    <input type="hidden" value="1" name="product[<?php echo $item->getItemId() ?>]" />
                    <?php echo $this->escapeHtml($item->getName()) ?>
                </td>
                <td><?php echo $item->getStatus() ?></td>
                <td><?php echo $item->getCurrentAmount() ?></td>
                <td><a href="<?php echo $this->getEditUrl() . 'id/' . $item->getId() ?>">Edit</a> </td>
            </tr>
        <?php endforeach ?>
        </tbody>
    </table>
<?php else: ?>
    <p><?php echo $this->__('You have placed no products yet.') ?></p>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->getBackUrl()?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
    </div>
<?php endif ?>
