<div class="page-title">
    <h1><?php echo $this->__('Advert not found') ?></h1>
</div>
<p><?php echo $this->__('Advert not found') ?></p>
<div class="buttons-set">
    <p class="back-link"><a href="<?php echo $this->getUrl('product/index') ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>
</div>